.game-body{
    border: 1px solid black;
    display: inline-block;
}

.cell{
    width: 15px;
    height: 15px;
    /*border: 1px solid black;*/
    display: table-cell;
}

.player{
    background-color: red;    
}

body {
    margin: 0px 0px 0px 0px; 
}

.ball {
    border-radius: 50%;
    background-color: blue;
}